@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel

<h1>Hilton's Book List</h1>

@foreach (Book b in Model.Books)
{
    <partial name="BookSummary" model="b" />
}

@* <a asp-controller="Home" asp-action="Index" asp-route-pageNum="1">1</a>
    <a asp-controller="Home" asp-action="Index" asp-route-pageNum="2">2</a>
    <a asp-controller="Home" asp-action="Index" asp-route-pageNum="3">3</a> *@

<div page-model="@Model.PaginationInfo" page-action="Index" page-class-enabled="true" page-class="btn"
     page-class-normal="btn-outline-dark" page-class-selected="btn-secondary" class="btn-group pull-right m-1"></div>